[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["compiler_builtins", "core", "alloc"]
json-target-spec = true

[build]
target = "src/arch/x86_64/config/kernel.json"

[target.'cfg(target_os = "none")']
runner = "../scripts/runner.sh"